{
    "plugins": [
        "@babel/plugin-transform-regenerator",//for async await
        "@babel/plugin-proposal-class-properties",// for arrow function
        "@babel/plugin-transform-runtime"//for async await
    ],
    "presets": [
        "@babel/preset-env",
        "@babel/preset-typescript"
    ]
}

